    <footer class="main-footer">
        <div class="main-footer-container">
        <p>©<time datetime="2025">2025</time> Слово за слово Илья Лавров. Все права защищены.</p>
        <p>Почта для связи:
            <a href="mailto:wordforword@gmail.com">wordforword@gmail.com</a> |
            <a href="#">Политика конфиденциальности</a>
        </p>
        <p>Социальные сети:
            <a href="#" target="_blank" rel="noopener">Телеграм</a> ·
            <a href="#" target="_blank" rel="noopener">Вконтакте</a>
        </p>
    </div>
    </footer>