    <header class="main-header">
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item"><a href="index.html">Главная страница</a></li>
                <li class="site-navigation-item"><a href="articles.html">Статьи</a></li>
                <li class="site-navigation-item"><a href="#">Подкасты</a></li>
            </ul>
            <ul class="container-nav">
                <li><a class="social-item left" href="#" target="_blank"><img src="img/Telegram.svg" width="17"
                            height="15" alt="Телеграм"></a></li>
                <li><a class="social-item" href="#" target="_blank"><img src="img/VKontakte.svg" width="25" height="15"
                            alt="Вконтакте"></a></li>
                <li><a class="signin with-divider" href="#">Вход</a></li>
                <li><a class="signin" href="#">Регистрация</a></li>
            </ul>
        </nav>
    </header>